/* datePicker */
.datepicker-wrapper {
  position: relative;
  padding: 6px 12px;
  color: #ffffff;

  background: #3e85f3;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    padding: 8px 12px;
    font-size: 16px;
    justify-content: space-around;
    align-items: center;
    margin-top: 33px;
    margin-bottom: 33px;
  }
}
.button-wrapper {
}
/* input */
.input-decor {
  position: relative;
}
.input-decor::after {
  content: '';
  position: absolute;
  right: 2px;
  top: 2px;
  width: 20px;
  height: 20px;
  display: block;
  background-image: url('../assets/Calendar_icon_2.svg');
  background-size: cover;
}
.input-field {
  width: 107px;
  height: 18px;
  color: #ffffff;
  font-size: 16px;
}
/* Calendar itself */

.calendar-wrapper {
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  width: 337px;
  height: 288;
  padding: 5px;
  border: 1px solid #3e85f3;
  border-radius: 15px;
  background-color: #3e85f3;
  box-shadow: 31px 20px 24px -12px rgba(0, 0, 0, 0.28);
}
.calendar-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: #ffffff;
}
.weeks-day {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
}
.week-day {
  font-size: 16px;
  line-height: 1.2;
  padding: 5px;
}
.month-dates {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
  gap: 5px;
}
.day-number {
  width: 40px;
  height: 40px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.current-day,
.other-day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 15px;
  font-weight: 300;
  color: white;
}
.current-day:hover,
.other-day:hover {
  background-color: #ffffff;
  color: #3e85f3;
}
.current-month {
  background-color: #3e85f3;
}
.other-month {
  background-color: #3e85f3;
  color: #3e85f3;
}
.current-month.current-day {
  background-color: #ffffff;
  color: #3e85f3;
}
.arrow {
  color: #ffffff;
}
