@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: 'Inter';
  src: url('styles/fonts/Inter-Regular.woff2') format('woff2'),
    url('styles/fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('styles/fonts/Inter-Medium.woff2') format('woff2'),
    url('styles/fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('styles/fonts/Inter-SemiBold.woff2') format('woff2'),
    url('styles/fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('styles/fonts/Inter-Bold.woff2') format('woff2'),
    url('styles/fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('styles/fonts/Coolvetica-Regular.woff2') format('woff2'),
    url('styles/fonts/Coolvetica-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('styles/fonts/Coolvetica-Italic.woff2') format('woff2'),
    url('styles/fonts/Coolvetica-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.29;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
.list {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-decoration: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

a {
  text-decoration: none;
  font-style: normal;
  cursor: pointer;
}

button {
  padding: 0;
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.circular-flag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f0f0f0;
  overflow: hidden;
  object-fit: cover;
}

.circular-flag .fi {
  font-size: 138px;
}
